body {
    background-color: #FFFFFF;
    color: #003366;
    font-family: Verdana, sans-serif;
}

header {
    background-color: #003366;
    color: #F0F0F0;
    font-family: Georgia, serif;
    background-image: url("../images/fishcreeklogo.gif");
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    line-height: 250%;
    text-indent: 1em;
    margin-bottom: 0;
}

nav {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #5280c5;
}

dt {
    color: #5280c5;
    font-size: 1.1em;
    font-weight: bold;
    font-family: Georgia, serif;
}

.category {
    font-weight: bold;
    color: #5380C5;
    font-family: Georgia, serif;
    text-shadow: 1px 1px 1px #667;
}

footer {
    font-size: 0.70em;
    font-style: italic;
    text-align: center;
    background-color: #aec3e3;
}

#wrapper {
    width: 80%;
    min-width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F0F0;
}

img {
    border: none;
}

main {
    padding-inline: 10px;
}

footer nav {
    background-color: #F0F0F0;
}